@charset "UTF-8";

html {
    font-size: 62.5%;
}
body {
    color: #333;
    font-size: 1.25rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a:link, a:visited, a:hover, a:active {
    color: #d03c56;
    text-decoration: none;
}


.heder {
    width: 100%;
    padding: 28px 0 10px;   /*上余白28px、舌余白10px*/
    background: url('../images/bg-header.gif') repeat-x;/*画層をx方向に繰り返す*/
    box-shadow: 0 0 10px 1px #e3e3e3;
}
.wrapper {
    width: 970px;
    margin: 30px auto 40px;
}
.main {
    display: block;
    float: left;
    width: 660px;
}
.sidemenu {
    float: right;
    width: 275px;
}
.footer {
    width: 100%;
}
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.logo {
    width: 225px;     /*サイトロゴの表示の幅*/
    height: 56px;   /*サイトロゴの画像の高さ*/
    margin: 0 auto;  /*中央寄せ*/
    background: url('../images/logo.png') no-repeat;
    overflow:  hidden; /*背景にSAMPLE LOGOのテキストが画像で隠されている*/
    text-indent: 100%;
    white-space: nowrap;
}
.logo a {
    display: block; /*display:blockを指定することでサイズを指定できるようになる*/
    width: 100%;
    height: 100%;
}
.global-nav {
    margin-top: 15px;
    text-align: center;
}
.global-nav .nav-item {
    display: inline-block;
    margin: 0 10px;
    /*サイズをあえて指定しない子要素の方でサイズが決まる*/
}
.global-nav .nav-item a {
    display: inline-block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 8px;
    color: #666;    /*黒ではない*/
    font-size: 1.3rem;
    letter-spacing: 1px;
    transition: 0.4s;   /*スタイルの変化に係る時間を調節する*/
}
.global-nav .nav-item.active a, /*.nav-itemと.activeをスペースなく接続する*/
.global-nav .nav-item a:hover {
    background-color:  #d03c56;
    color: #fff;
}
.hot-topic {
    display: block; /*.hot-topicはa要素なのでブロックレベル要素として扱えるようにする*/
    height: 300px;
    margin-bottom: 30px;
    box-shadow: 0 6px 4px -4px rgba(0,0,0,0.15);
    transition: opacity 0.15s;
}
.hot-topic:hover {
    opacity: 0.85;  /*ホーバーしたときに光ったように見える*/
}
.hot-topic .image {
    float: left;
    width: 50%;
    height: 100%;
}
.hot-topic .content {
    float: right;
    width: 50%;
    height: 100%;
    padding: 105px 25px 0;
    background-color: #2d3d54;
}